services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Coosos\VersionWorkflowBundle\:
    resource: '../../'
    exclude: '../../{Entity,Repository}'

  Coosos\VersionWorkflowBundle\EventListener\Doctrine\LoadClassMetadataListener:
    tags:
      - { name: doctrine.event_listener, event: loadClassMetadata }

  Coosos\VersionWorkflowBundle\EventListener\Doctrine\PrePersistListener:
    tags:
      - { name: doctrine.event_listener, event: prePersist, priority: -1000 }

  Coosos\VersionWorkflowBundle\EventListener\Doctrine\OnFlushListener:
    arguments:
      $serializer: '@jms_serializer.serializer'
    tags:
      - { name: doctrine.event_listener, event: onFlush }
