services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Coosos\VersionWorkflowBundle\:
    resource: '../../'
    exclude: '../../{Entity,Repository}'

  Coosos\VersionWorkflowBundle\Service\SerializerService:
    public: true

  Coosos\VersionWorkflowBundle\EventListener\Serializer\TransformArrayCollectionListener:
    tags:
      - { name: kernel.event_listener, event: coosos.version_workflow.pre_serialize }

  Coosos\VersionWorkflowBundle\EventListener\Serializer\TransformDateTimeListener:
    tags:
      - { name: kernel.event_listener, event: coosos.version_workflow.pre_serialize }
      - { name: kernel.event_listener, event: coosos.version_workflow.pre_deserialize }
